<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.crm.mapper.CustomerMapper" >


	<!-- 根据条件查询客户列表 -->
	<select id="findCustomerListByQueryVo" parameterType="com.itheima.crm.pojo.QueryVo" resultType="com.itheima.crm.pojo.Customer">
	
		SELECT
			c.cust_id,
			c.cust_name,
			b1.dict_item_name as cust_source,
			b2.dict_item_name as cust_industry,
			b3.dict_item_name as cust_level,
			c.cust_mobile,
			c.cust_phone 
		FROM
			customer c
		LEFT JOIN base_dict b1 ON c.cust_source = b1.dict_id
		LEFT JOIN base_dict b2 ON c.cust_industry = b2.dict_id
		LEFT JOIN base_dict b3 ON c.cust_level = b3.dict_id
		<where>
			<if test="custName != null and custName != ''">
				AND c.cust_name like "%"#{custName}"%"
			</if>
			<if test="custSource != null and custSource != ''">
				AND c.cust_source = #{custSource}
			</if>
			<if test="custIndustry != null and custIndustry != ''">
				AND c.cust_industry = #{custIndustry}
			</if>
			<if test="custLevel != null and custLevel != ''">
				and c.cust_level = #{custLevel}
			</if>
		</where>
		LIMIT #{start},#{size}
		
	</select>
	
	<!-- 根据条件查询客户总数 -->
	<select id="findCustomerCountByQueryVo" parameterType="com.itheima.crm.pojo.QueryVo" resultType="Integer">
	
		SELECT
			count(*)
		FROM
			customer c
		LEFT JOIN base_dict b1 ON c.cust_source = b1.dict_id
		LEFT JOIN base_dict b2 ON c.cust_industry = b2.dict_id
		LEFT JOIN base_dict b3 ON c.cust_level = b3.dict_id
		<where>
			<if test="custName != null and custName != ''">
				AND c.cust_name like "%"#{custName}"%"
			</if>
			<if test="custSource != null and custSource != ''">
				AND c.cust_source = #{custSource}
			</if>
			<if test="custIndustry != null and custIndustry != ''">
				AND c.cust_industry = #{custIndustry}
			</if>
			<if test="custLevel != null and custLevel != ''">
				and c.cust_level = #{custLevel}
			</if>
		</where>
	</select>
	
	
	<!-- 根据ID查询客户信息 -->
	<select id="findCustomerById" parameterType="long" resultType="com.itheima.crm.pojo.Customer">
		select * from customer where cust_id = #{id}
	</select>
	
	<!-- 根据客户ID修改客户信息 -->
	<update id="updateCustomerById" parameterType="com.itheima.crm.pojo.Customer">
		
		update customer
		<!-- 1、添加SET关键字； 2、校验SQL语句去掉最后的的“，” --> 
		<set>
			<if test="cust_name != null and cust_name != ''">
				cust_name = #{cust_name},
			</if>
			<if test="cust_source != null and cust_source != ''">
				cust_source = #{cust_source},
			</if>
			<if test="cust_industry != null and cust_industry != ''">
				cust_industry = #{cust_industry},
			</if>
			<if test="cust_level != null and cust_level != ''">
				cust_level = #{cust_level},
			</if>
			<if test="cust_linkman != null and cust_linkman != ''">
				cust_linkman = #{cust_linkman},
			</if>
			<if test="cust_phone != null and cust_phone != ''">
				cust_phone = #{cust_phone},
			</if>
			<if test="cust_mobile != null and cust_mobile != ''">
				cust_mobile = #{cust_mobile},
			</if>
			<if test="cust_zipcode != null and cust_zipcode != ''">
				cust_zipcode = #{cust_zipcode},
			</if>
			<if test="cust_address != null and cust_address != ''">
				cust_address = #{cust_address},
			</if>
		</set>
		where cust_id = #{cust_id}
		
	</update>
	
	<!-- 根据iD删除客户信息 -->
	<delete id="deleteCustomerById" parameterType="long">
		delete from customer where cust_id = #{id}
	</delete>
	
</mapper>