<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<!-- 加载外部属性文件 -->
	<context:property-placeholder location="classpath:resource.properties"/>
	
	<!-- 扫描@Controller注解 -->
	<context:component-scan base-package="com.itheima.crm.controller"/>

	<!-- 配置系统当前最新版本  注解形式的处理器映射器和处理器适配器     配置注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 视图解析器 
		作用: 帮我们拼接物理路径的前缀和后缀
		返回来得只是视图名称
		那么视图解析器就会给你拼接   前缀+ 视图名称  + 后缀
		简化代码
	-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
</beans>